html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	margin-right: 150px;
	margin-left: 150px;

	max-height: auto;
	max-width: 1600px;
	background: yellow;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	  
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	/*flex-direction: column;*/
}

header {
	display: flex;
	position: relative;
	height: 150px;	
}
.wrapper .logo-container {
  max-width: 500px;
  max-height: 150px;
  border: red 1px dashed;/*
  display: inline-block;*/
}

.wrapper .logo-container img{
	width: 100%;
	height: 100%;
}

.wrapper .login-container {
	border: 1px red dashed;
	width: 300px;
}

.wrapper .login-container{
}

.wrapper .login-container .login-form .element-holder{
	display: inline-block;
}

.wrapper .login-container .login-form .remind-me{
	display: block;
}

header > .menu {
	background: red;
	order:1;
}
