html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    width: 150vh;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    -webkit-box-shadow: -2px 12px 15px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -2px 12px 15px -4px rgba(0, 0, 0, 0.66);
    box-shadow: -2px 12px 15px -4px rgba(0, 0, 0, 0.66);
}

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
    display: block;
    float: left;
}

footer h3 {
    font-weight: 100;
    margin-bottom: 0;
    color: steelblue;
}

header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    max-height: 150px;
}

.wrapper .logo-container {
    max-width: 200px;
    max-height: 150px;
}

.wrapper .logo-container img {
    width: 100%;
    height: 100%;
}

.wrapper .login-container {
    width: 170px;
}

.wrapper .login-container {
}

.wrapper .login-container .login-form .element-holder {
    display: block;
}

.wrapper .login-container .login-form .element-holder > input {
    width: 100%;
}

.wrapper .login-container .login-form .element-holder > .remind-me {
    width: inherit;
}

.wrapper .login-container .login-form .element-holder:nth-child(3) {
    display: block;
}

.wrapper .login-container .login-form > .register-action {
    display: block;
}

.wrapper .login-container .login-form .login-btn {
    background: #2ecc71;
    border: none;
    padding: 5px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}

nav {
}

.menu {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: steelblue;
    align-items: center;
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    min-height: 40px;
}

.menu > li {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 5px;
    transition: all linear 0.1s;
}

.menu li a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
}

.menu li:hover {
    background: rgba(178, 208, 232, 1);
}

.menu li:hover ul {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

/** Submenu's */
.menu li ul {
    background: linear-gradient(to bottom, rgba(178, 208, 232, 1) 0, rgba(178, 208, 232, 1) 100%);;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .05);
    display: none;
    padding-left: 0px;
}

.menu li ul li {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

.menu li ul li:hover {
    background: rgba(97, 144, 183, 1);
}

.over-ons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: stretch;
}

.over-ons p {
    width: 60%;
    margin: 0;
}

.over-ons h2 {
    flex-basis: 100%;
}

.over-ons-image {
    max-width: 300px;
    max-height: 200px;
    width: 40%
}

.over-ons-image img {
    width: 100%;
    height: 100%;
}

.route-beschrijving {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.route-beschrijving h2 {
    flex-basis: 100%;
}

.route-beschrijving p {
    flex-basis: 40%;
    margin: 0;
}

.route-beschrijving-image img {
    width: 300px;
}

.shop-button, .more-info-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3498DB;
    padding: 10px 3px 10px 3px;
}

.shop-button {
    position: relative;
    border: none;
    width: 80px;
    height: 40px;
}

.shop-button > img {
    height: 100%;
}

button.shop-button:hover {
    cursor: pointer;
    background-color: #3082db;
}

.more-info-button {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    width: 80px;
}

.shop-button:hover, .more-info-button:hover {
    background-color: #3082db;
}

.error-input-field {
    border: 1px solid #D24444;
}

.form-invalid-message {
    display: inherit;
    font-size: 12px;
    color: red;
}

.save-btn {
    text-decoration: none;
    color: white;
    background: #2ecc71;
    padding: 10px 40px;
    float: right;
    border: none;
}

.save-btn:hover {
    cursor: pointer;
    background: #1dcc54;
}

.ww-empty-message {
    text-align: center;
    width: 100%;
}

.user-already-exists {
    background: red;
    text-align: center;
    color: white;
    font-size: 15px;
}

.login-failed {
    position: absolute;
    left: 0;
    right: 0;
    background: red;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 8px;
    width: 100%;
    height: 40px;
}

.ad-container {
    width: 100px;
    height: 800px;
    order: 1;
    float: right;
    margin-left: 20px;
}

.ad-container > img {
    width: 100%;
    height: 100%;
}

.producten-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    margin-left: -9px;
}

.browse-category ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    transition: all linear 0.1s;
    border: 1px solid lightgray;
    text-align: left;
    min-width: 200px;
}

.browse-category ul a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.browse-category ul a:hover {
    background: #e86937;
    color: white;
}

.search-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.search-button {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    background: steelblue;
}

.amount-of-results {
    margin-left: 11vh;
}

.main-section {
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
}

.main-section .browse-category {
    text-align: center;
    margin-top: -10px;
}

.products {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}

.product-item {
    position: relative;
    border: 1px solid #ccc;
    margin-right: 12px;
    max-width: 200px;
    max-height: 400px;
    align-items: stretch;
    margin-top: 20px;
}

.product-item > img {
    width: 100%;
}

.product-image-holder {
    overflow: auto;
}

.product-title-container {
    width: inherit;
    height: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item--information {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.product-pagina-container {
    display: flex;
    flex-direction: column;
}

.product-container {
    display: flex;
    margin-top: 20px;
}

.product-information {
    margin-left: 10px;
    flex: 1;
}

.product-information > h2 {
    margin-top: 0;
}

.description {
    display: flex;
}

.description p {
    margin: 0;
    flex: 3;
}

.description .in-stock {
    flex: 1;
}

.out-of-stock {
    flex: 1;
    color: red;
}

.product-image {
    max-width: 300px;
}

.product-image img {
    border: 1px solid #d6d6d6;
    width: 100%;
}

.order-amount {
    margin-top: 40px;
}

button[disabled=disabled], button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.disabled {

}

.recommendation-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.recommended-products {
    display: flex;
}

.recommended-item {
    margin: 10px;
    border: 1px solid #ddd;
    max-width: 250px;
}

.recommended-item--information {
    display: flex;
    justify-content: space-between;
}

.recommended-item img {
    width: 100%;
    height: 150px;
}

.registratie-wrapper {
    position: relative;
    display: inline-block;
}

.accountgegevens {
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
    float: left;
}

.factuuradres {
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 530px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element > label {
    display: block;;
}

.one-row > .form-element {
    display: inline-block;
}

.l-input {
    width: 100%;
}

.m-input {
    width: 50%;
}

.s-input {
    width: 20%;
}

.huisnummer {
    display: block;
    margin-left: 10px;
}

.save-btn:hover {
    background: #27ae60;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
}

tr {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    width: 100%;
}

td.image {
    max-width: 40px;
    max-height: 80px;
}

.product-name {
    text-decoration: solid;
}

.product-amount {

}

.product-subtotal {
    font-weight: bold;
}

.winkelwagen-pagina-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.winkelwagen-product-container {
    display: flex;
    margin-top: 20px;
}

.winkelwagen-wrapper > h1 {
    text-align: center;
}

.product-afbeelding {
    max-width: 120px;
}

.product-afbeelding img {
    width: 100%;
}

.subtotal-container {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    position: relative;
    float: right;
}

.checkout-button {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    background: steelblue;
}

.remove-from-ww-btn {
    text-decoration: solid;
    color: #fff;
    background-color: #D24444;
}

.news-container {
    display: flex;
}

.news-image {
    position: relative;
}

.news-image img {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
}

.news-title {
    margin-bottom: 0;
}

.headline {
    margin-bottom: 6px;
}

.headline span {
    text-decoration: underline;
    font-size: 13px;
}

.news-item {
    width: 60%;
    position: relative;
    padding-left: 8px;
    border-left: 3px solid gray;
    z-index: 2;
}

.read-more-btn-container > a {
    margin-top: 10px;
}

.jobs-container {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;

}

.jobs-container a {
    text-decoration: none;
    color: inherit;
}

.jobs-title {
    text-transform: uppercase;
    text-align: center;
}

.job {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #fff;

    padding: 1rem;
    color: #444;
    border-bottom: 1px solid #e5e5e5;
    border-left: .5rem solid #D44F23;
}

.job:hover {
    background: #f9f9f9;
    text-decoration: none !important;
}

.job:hover .title, .job:focus .title {
    color: #F87D26;
}

.job > h1 {
    font-weight: 300;
    text-align: center;
}

.admin-wrapper {
    min-width: 600px;
    width: 100%;
    margin-left: 240px;
}

.edit-item-btn {
    color: white;
    background: steelblue;
    padding: 5px;
    text-decoration: none;
}

.remove-item-btn {
    color: white;
    background: #cb2c43;
    padding: 5px;
    text-decoration: none;
}

.admin-stock {
    width: 50px;
}

.flash-message {
    width: 100%;
    padding: 10px;
}

.success {
    color: white;
    text-align: center;
    background: #2abd68;
}

.error {
    color: white;
    text-align: center;
    background: #cb2c43;
}

.omschrijving-edit {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 860px) {
    form > .factuuradres {
        margin-left: 0px;
        width: 100%;
        max-width: none;
    }

    .accountgegevens {
        width: 100%;
    }

    input {
        width: 100%;
    }

    div.wrapper {
        margin-left: 0px;
        width: 100%;
    }

    .over-ons-container {
        padding: 10px;
    }

    .search-wrapper form > .search-button {
        margin: 5px 0px 0px 0px;
    }

    .product-container {
        flex-direction: column;
    }

    .product-information .description {
        flex-direction: column;
    }

    .description .in-stock {
        margin-top: 40px;
    }

    .wrapper .login-container .login-form .remind-me {
        width: inherit;
    }

    .producten-container > .main-section {
        flex-direction: column;
    }

    .producten-container .main-section .products {
        justify-content: space-between;
        margin-left: 10px;
    }

    .main-section > .browse-category ul {
        border: none;
        text-align: center;
    }

    .main-section > .browse-category ul li {
        margin-bottom: 10px;
        border: 1px solid lightgray;
    }

    .over-ons p {
        flex-direction: column;
        width: 100%;
    }

    .over-ons-image {
        margin-top: 20px;
        width: 100%;
    }

    .route-beschrijving p {
        flex-basis: 100%;
    }

    .route-beschrijving-image {
        margin-top: 20px;
    }

    .news-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .news-item {
        width: 100% !important;
    }

    .menu {
        flex-direction: column;
    }

    .menu li {
        margin: 4px;
        width: 100%;
    }

    .ad-container {
        display: none;
    }

    .factuuradres {
        margin-top: 15px;
    }
}