.product-pagina-container {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  margin-top: 20px;
}

.product-information {
  margin-left: 10px;
  flex: 1;
}

.product-information  button {
  /** TODO:: Add margin **/
}

.description {
  display: flex;
}

.description p {
  margin: 0;
  flex: 3;
}

.description .in-stock {
  flex: 1;
}

.description .out-of-stock {
  flex: 1;
  color: red;
}

.product-image {
  max-width: 300px;
}

.product-image img {
  border: 1px solid #d6d6d6;
  width: 100%;
}

.order-amount {
  /*background: red;*/
  /*margin-left: 400px;*/
  margin-top: 40px;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.4;
}

.recommendation-wrapper {
  margin-top: 30px;
  display: flex;
  /*justify-content: center;*/
  flex-direction:column;
}

.recommended-products {
  display: flex;
}

.recommended-item {
  margin: 10px;
  border: 1px solid #ddd;
  max-width: 250px;
}

.recommended-item--information {
  display: flex;
  justify-content: space-between;
}

.recommended-item img {
  width: 100%;
  height: 150px;
}
