.producten-container {
	/*background: red;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
}

.browse-category {
	border: 1px solid #ddd;
	margin-right: 10px;
}

.browse-category ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	transition: all linear 0.1s;
}

.browse-category ul li a {
	text-decoration: none;
	color: #000;
}

.browse-category ul li {
	padding: 10px;
}

.browse-category ul li:hover{
	background: yellow;
}

.search-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.search-button {
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-left: 10px;
	background: steelblue;
}

.amount-of-results {
	margin-left: 120px;
}

.products {
	margin-top: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-wrap: wrap;
}

.product-item {
	border: 1px solid #ccc;
	margin-right: 20px;
	max-width: 200px;
	max-height: 400px;
}

.product-item > img {
	width: 100%;
}
