.producten-container {
	/*background: red;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
	margin-left: -9px;
}

.browse-category ul {
	list-style-type: none;
	padding: 0;
	margin: 10px;
	transition: all linear 0.1s;
	border: 1px solid lightgray;
	text-align: left;
	min-width: 200px;
}

.browse-category ul a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #000;
	padding: 10px;
}


.browse-category ul a:hover{
	background: #e86937;
	color: white;
}


.search-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.search-button {
	text-decoration: none;
	color: #fff;
	padding: 5px;
	margin-left: 10px;
	background: steelblue;
}

.amount-of-results {
	margin-left: 11vh;
}

.main-section {
	margin-top: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: row;
}

.main-section .browse-category {
	text-align: center; /* TODO: Probeer hier een ander altneratief voor te vinden. */
	margin-top: -10px;
}

.products {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: -20px;
}

.product-item {
	position: relative;
	border: 1px solid #ccc;
	margin-right: 12px;
	max-width: 200px;
	max-height: 400px;
	align-items: stretch;
	margin-top: 20px;
}


.product-item > img {
	width: 100%;
}

.product-image-holder {
	overflow: auto;
}

.product-title-container {
	width: inherit;
	height: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-item--information {
	position: absolute;
	width: 100%;
	bottom: 0;
}