table, th, td {
  border: 1px solid black;
}

tr {
  text-align: center;
}

table {
  width: 100%;
}

td.image {
  max-width: 40px;
  max-height: 80px;
}

.winkelwagen-pagina-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.winkelwagen-product-container {
  display: flex;
  margin-top: 20px;
}

.winkelwagen-wrapper > h1 {
  text-align: center;
}

.product-afbeelding {
  max-width: 120px;
}

.product-afbeelding img {
  width: 100%;
}

.subtotal-container {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: right;
}
