table, th, td {
  border: 1px solid black;
}

tr {
  text-align: center;
}

table {
  width: 100%;
}

.winkelwagen-pagina-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.winkelwagen-product-container {
  display: flex;
  margin-top: 20px;
}

.winkelwagen-wrapper > h1 {
  text-align: center;
}

.product-afbeelding {
  max-width: 120px;
}

.product-afbeelding img {
  width: 100%;
}
